:root{
    /* global variable */
    --primary-color: #00aefd;
    --secondary-color: #ffa400;
}

*{
    box-sizing: border-box;
}

html
{
    font-size: 62.5%;
    /* 1rem = 10px */
}

body{
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    font-weight: normal;
    height: 2000px;
    width: 100%;
    height: 100vh;
}

/* #title {
    color: red;
} */

.title {
    font-size: 3rem;
    font-weight: bold;
    color: orange;
}

h2 {
    color: blue !important; 
}



/* tag < class < id < inline <  !important*/

/* 
(x, y, z) => (tags, class or attribute, id)

0 1 0 
0 0 1
1 0 0 
*/